table,
th,
td {
    border: 1px solid #bcbcbc;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-image: url(../images/ads.jpg);
    background-position: center;
    width: 1050px;
    height: 580px;
    font-size: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}