@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    width: 1500px;
    height: 400px;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 70px 1fr 100px;
    height: 100%;
    grid-gap: 0px;
    grid-template-areas:
        "header header"
        "side main"
        "footer footer";
}

.header {
    grid-area: header;
    height: 70px;
    background-color: #171717;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
}

.header a {
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    color: #ffffff;
    
}

.side {
    grid-area: side;
    height: 780px;
    background-color: #333333;
    width: 150px;
    float: left;
    font-size: 160%;
    font-family: 'Cute Font', cursive;
    text-align: center;
}

.side a {
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'Cute Font', cursive;
    text-align: left;
}

.main {
    grid-area: main;
    background-image: url(../images/amigo.gif);
    width: 1350px;
    height: 780px;
    float: right;
}

.footer {
    grid-area: footer;
    color: black;
    height: 90px;
    background-color: #171717;
    position: relative;
    clear: both;
    font-size: 20px;
}

@media all and (max-width:575px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px 100px;
        grid-template-areas:
            "header"
            "main"
            "side"
            "footer";
    }
}

/* #logo {
    float: left;
    width: 250px;
    height: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: #B2BCFF;
} */
.logo {
    background-color: #171717;
    position: absolute;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

nav {
    float: right;
    width: 900px;
    height: 100px;
    margin: auto;
}

/* #slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
} */

/* footer {
    width: 100%;
    height: 100px;
    background-color: gray;
} */

table {
    font-family: 'Nanum Pen Script', cursive;
    width: 1050px;
    height: 580px;
    background-image: url(../images/Cinema4D.jpg);
    background-position: center;
    text-align: center;
    border-color: #54A0E2;
    border-collapse: separate;
    vertical-align: middle;
    font-size: 200%;
    position: absolute;
    left: 290px;
    top: 110px;
}

audio {
    width: 418px;
    position: absolute;
    top: 700px;
    left: 470px;
}

p {
    font-family: 'Nanum Pen Script', cursive;
    color: #ACC5FF;
    position: absolute;
    top: 700px;
    left: 290px;
}

h1 {
    font-family: 'Nanum Pen Script', cursive;
    color: #ACC5FF;
    position: absolute;
    top: 700px;
    left: 1180px;
    font-size: 50px;
}

#bt34 {
    color: #333333;
    background-color: #9c9c9c;
    padding: 1px 35px;
    border-color: #9c9c9c;
    border: 1px solid;
    border-radius: 35px;
    transition: all 0.4s;
}

#bt34:focus {
    outline: none;
}

#bt34:hover {
    background-color: #ACC5FF;
    color: white;
    border-color: #ACC5FF;
}

.underline {
    width: 80px;
    height: 2px;
    background-color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 2px;
    position: absolute;
    left: 35px;
}

.blank {}

h4 {
    font-family: 'Cute Font', cursive;
    color: #9c9c9c;

}

input[id*=answer] {
    display: none;

}

input[id*="answer"]+label {
    display: flex;
    padding: 5px;
    border: 1px solid #232188;
    border-bottom: 0;
    color: #fff;
    font-weight: 500;
    background: #3635a5;
    cursor: pointer;
    position: relative;
}

input[id*="answer"]+label i {
    position: absolute;
    top: 6%;
    right: 6px;
    width: 30px;
    height: 30px;
    margin-top: 4px;
    display: inline-block;
    /* background:url(../images/방향표.jpg) */
    transform: rotate(90deg);
    transition: all .35s;
    font-size: 20px;
}

input[id*="answer"]+label+div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #333333;
    font-size: 23px;
}

input[id*="answer"]+label+div a {
    display: inline-block;
    padding: 5px;
}

input[id*="answer"]:checked+label+div {
    max-height: 200px;
}

input[id*="answer"]:checked+label i {
    transform: rotate(45deg);
    transition: all .35s;
}

input[id*="answer"]:checked:hover+label i {
    transform: rotate(45deg) scale(1.4);
    transition: all .35s;
}

input[id*="answer"]:hover+label i {
    transform: rotate(90deg) scale(1.4);
    transition: all .35s;
}

input[id*="answer"]:hover+label {
    display: flex;
    padding: 5px;
    border: 1px solid #3635a5;
    border-bottom: 0;
    color: #fff;
    font-weight: 500;
    background: #4B4BF0;
    cursor: pointer;
    position: relative;
}