@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #FFF;
    width: 1500px;
    height: 400px;
}
.container {
    display:grid;
    grid-template-columns:10% 1fr;
    grid-template-rows:70px 1fr 100px;
    height: 100%;
    grid-gap:0px;
    grid-template-areas: 
    "header header"
    "side main"
    "footer footer";
}
.header{
    grid-area: header;
    height: 70px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
}
.side{
    grid-area: side;
    height: 780px;
    background-color: goldenrod;
    width: 150px;
    float: left;
    font-size: 120%;
}
.main{
    grid-area: main;
    background-image: url(../images/amigo.gif);
    width: 1350px;
    height: 780px;
    float: right;
}
.footer{
    grid-area: footer;
    color: black;
    height: 90px;
    background-color: blue;
    position: relative;
    clear: both;
    font-size: 20px;
}
@media all and  (max-width:575px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows:100px 1fr 100px 100px;
        grid-template-areas: 
        "header"
        "main"
        "side"
        "footer";
    }
}

/* #logo {
    float: left;
    width: 250px;
    height: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: #B2BCFF;
} */
.logo {
    background-color: red;
    position: absolute;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

nav {
    float: right;
    width: 900px;
    height: 100px;
}

/* #slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
} */

/* footer {
    width: 100%;
    height: 100px;
    background-color: gray;
} */

table {
    font-family: 'Nanum Pen Script', cursive;
    width: 1050px;
    height: 580px;
    background-image: url(../images/Cinema4D.jpg);
    background-position: center;
    text-align: center;
    border-color: #54A0E2;
    border-collapse: separate;
    vertical-align: middle;
    font-size: 200%;
}

audio {
    width: 418px;
}

p {
    font-family: 'Nanum Pen Script', cursive;
    color: #ACC5FF;
}


