@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    margin: 0 auto;
    width: 1200px;
}

header {
    width: 100%;
    height: 100px;

}

#logo {
    float: left;
    width: 250px;
    height: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: #B2BCFF;
}

nav {
    float: right;
    width: 900px;
    height: 100px;
}

#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}

table {
    font-family: 'Nanum Pen Script', cursive;
    width: 30%;
    background-image: url(../images/Cinema4D.jpg);
    background-position: center;
    text-align: center;
    border-color: #54A0E2;
    border-collapse: separate;
    vertical-align: middle;
}

audio {
    width: 418px;
}

body {
    background-image: url(../images/amigo.gif);
}

p {
    font-family: 'Nanum Pen Script', cursive;
    color: #ACC5FF;
}
