body {
    color: #FFF;
    width: 1500px;
    height: 400px;
}



header {
    height: 70px;
    background-color: rgb(130, 226, 255);
    text-align: center;
}

section,
aside {
    float: right;
    height: 780px;
}

section {
    background-color: rgb(0, 255, 255);
    width: 1350px;
    height: 780px;
    float: right;
    background-image: url(../image/son10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

aside {
    background-color: rgb(130, 226, 255);
    width: 150px;
    height: 780px;
    float: left;
}

footer {
    height: 90px;
    background-color: rgb(130, 226, 255);
    position: relatiev;
    clear: both;
    font-size: 20px;
}
