body {
    color: rgb(5, 5, 5);
    width: 1500px;
    height: 400px;
}



header {
    height: 70px;
    background-color: red;
    text-align: center;
}

section,
aside {
    float: right;
    height: 780px;
}

section {
    background-color:white;
    width: 1350px;
    height: 780px;
    float: right;
    background-image: url(../image/손바닥.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

aside {
    background-color: goldenrod;
    width: 150px;
    height: 780px;
    float: left;
}

footer {
    height: 90px;
    background-color: blue;
    position: relatiev;
    clear: both;
    font-size: 20px;
}