header a{
    text-decoration: none;
    color: black;
    font-size: 50px;
    text-align: center;
}

.logo {
background-color: purple;
position: absolute;
float: left;
margin-top: 2px;
margin-left: 2px;
}